**/.next
**/.expo
**/dist
**/.cache
**/node_modules
**/gen
**/.vscode
**/.claude
**/migrations
**/src/app/(payload)
**/src/payload/payload-types.ts
**/next-env.d.ts
**/.yarn
**/.turbo
build
yarn.lock
package-lock.json
pnpm-lock.yaml
**/playwright-report
**/test-results
**/payload-types.ts
**/entrypoint.tstmp
